@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2></h2>

<div>
    <h4>Seller Details</h4>
  </div>
    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
             Seller Data
    </h3>
  </div>
  <div class="panel-body">
         <h7> <strong>
            @Html.DisplayNameFor(model => model.Name):
            @Html.DisplayFor(model => model.Name) <br>
        
            @Html.DisplayNameFor(model => model.Email):
            @Html.DisplayFor(model => model.Email) <br />
        
            @Html.DisplayNameFor(model => model.BirthDate):
            @Html.DisplayFor(model => model.BirthDate) <br>
       
            @Html.DisplayNameFor(model => model.BaseSalary):
            @Html.DisplayFor(model => model.BaseSalary) <br>
        </strong> </h7>
  </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
